.toggler {
  position: absolute;
  left: 5%;
  top: 10%;
  padding: 5px;

  border: none;
  cursor: pointer;

  background-color: transparent;
  color: inherit;

  transform: scale(1);
}

.toggler:hover,
.toggler:focus {
  transform: scale(1.1);
}

.sunMoonContainer {
  --rotation: 0;
  pointer-events: none;

  display: block;
  justify-content: center;
  text-align: center;
  height: 200vmin;
  position: absolute;
  top: 0;
  left: 50%;

  transform: rotate(calc(var(--rotation) * 1deg));
  transition: transform var(--transition-delay);
}

.sun {
  top: 3%
}

.moon {
  bottom: 3%;
  opacity: 0;
  transform: rotate(180deg);
}

.sun,
.moon {
  position: absolute;
  transition: opacity, fill var(--transition-delay);
  fill: var(--sunMoon-color);
}

.dark .moon {
  opacity: 1;
}

.dark .sun {
  opacity: 0;
}

.sunMoonContainer .dark {
  --rotation: 180;
}

body {
  --sunMoon-color: #f37e12;
  --transition-delay: 1s;
  --background-color: #ecece5;

  transition: var(--transition-delay);
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
 --sunMoon-color: #f3d812;
 --background-color: #333;
 --text-color: white;
}
